body {
  background-color: rgb(20, 19, 19);
  color: white;
}

#app {
  text-align: center;
}

#timer-btn {
  font-size: 5rem;
  width: 90%;
  margin: 0;
  height: 50vh;
}

#timer-text {
  font-size: 3rem;
  text-align: center;
  padding-top: 40px;
}

.relax {
  background-color: #1b5e20;
  border-color: #2e7d32;
}

#timer-btn {
  width: 80vw;
  height: 50vh;
  border-radius: 30px;
  border: 6px solid #333;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  appearance: none;
}

.hard-contract {
  background-color: #e65100;
  border-color: #ff9800;
}
.light-contract {
  background-color: #fbc02d;
  border-color: #fff176;
  color: #000;
}

#ecograder {
  color: #cbe995;
  text-decoration: underline;
}
