body {
  background-color: rgb(20, 19, 19);
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer-btn {
  font-size: 5rem;
  width: 90%;
  margin: 0;
  height: 50vh;
}

#timer-text {
  font-size: 3rem;
  text-align: center;
  padding-top: 40px;
}

.relax {
  background-color: #1b5e20;
  border-color: #2e7d32;
}

.hard-contract {
  background-color: #e65100;
  border-color: #ff9800;
}

.light-contract {
  background-color: #fbc02d;
  border-color: #fff176;
  color: #000;
}
