body {
  background-color: rgb(20, 19, 19);
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 5rem;
  margin: 20px 0;
  background-color: rgb(13, 112, 79);
}
